<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <!--<link href="static/css/mosir_tv/slideshow.css" rel="stylesheet">-->
    <title>{{ the_title }}</title>
    <script src="static/js/socketio/socket.io.js"></script>
</head>
<body>
    {% block body %}
    {% endblock %}
    
    <script src="static/js/app.js"></script>
</body>
</html>
